.list{
    border-radius: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: width 0.5s ease-out;
    bottom: 100px;
}

.nho {
    overflow-x: scroll;
    position: fixed;
    bottom: 0;
    width: 100vw;
    flex-wrap: nowrap;
}

.lon {
    overflow-y: scroll;
    width: 80vw;
    flex-wrap: wrap;

}

.list::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}